
    <form class="col s12 form1" (submit) = "addEmp()" *ngIf="!toggleForm" >
      
        <div class="input-field col s6 input1">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" [(ngModel)]="employee_name" name="something">
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field col s6 input1">
          <i class="material-icons prefix">account_balance_wallet</i>
          <input id="icon_telephone" type="text" class="validate" [(ngModel)]="employee_salary" name="something">
          <label for="icon_telephone">Salary</label>
        </div>
        
        <div class="input-field col s6 input1">
            <i class="material-icons prefix">person</i>
            <input id="icon_telephone" type="text" class="validate" [(ngModel)]="employee_age" name="something">
            <label for="icon_telephone">Age</label>
          </div>

          <a class="waves-effect waves-light input1"><i class="material-icons left">cloud</i>Upload photo</a>  
        <br>
      <br><br>
      <button class="btn waves-effect waves-light btn1" type="submit" >Save Employee
        <i class="material-icons right">send</i>
      </button>
    </form>

<!--Edit Form-->
    <form class="col s12 form1" (submit) = "editEmp()" *ngIf="toggleForm" >
      
        <div class="input-field col s6 input1">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text" class="validate" [(ngModel)]="selectedEmp.employee_name" name="name">
          
        </div>
        <div class="input-field col s6 input1">
          <i class="material-icons prefix">account_balance_wallet</i>
          <input id="salary" type="text" class="validate" [(ngModel)]="selectedEmp.employee_salary" name="salary">
          
        </div>
        
        <div class="input-field col s6 input1">
            <i class="material-icons prefix">person</i>
            <input id="age" type="text" class="validate" [(ngModel)]="selectedEmp.employee_age" name="age">
            
          </div>

          <a class="waves-effect waves-light input1"><i class="material-icons left">cloud</i>Upload photo</a>  
        <br>
      <br><br>
      <button class="btn waves-effect waves-light btn1" type="submit" >Save Employee
        <i class="material-icons right">send</i>
      </button>
    </form>


<br><br>


<div class="container">
    <table class="highlight table1">
        <thead >
          <tr>
            <th *ngFor="let columnHeader of columnHeaderList" scope="col">{{columnHeader}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let employee of empList">
            <td>{{employee.id}}</td>
            <td> {{employee.employee_name == null ? employee.name : employee.employee_name}}</td>
            <td>{{employee.employee_salary == null ? employee.salary :employee.employee_salary}}</td>
            <td>{{employee.employee_age == null ? employee.age :employee.employee_age}}</td>
            
            <td><button class="btn waves-effect waves-light"><i class="material-icons" (click)="showEditFrm(employee)" [disabled]="toggleForm" >edit</i></button></td>
            <td><button class="btn waves-effect waves-light red"><i class="material-icons" (click)="deleteEmp(employee.id)" >delete_forever</i></button></td>
          </tr>
        </tbody>
      </table> 
 </div>     
      