
    <form class="col s12 form1" (submit) = "addEmp()" *ngIf="!toggleForm" >
      
        <div class="input-field col s6 input1">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text"  [(ngModel)]="employee_name" name="name"  required>
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6 input1">
          <i class="material-icons prefix">account_balance_wallet</i>
          <input id="salary" type="number"  [(ngModel)]="employee_salary" name="salary"  required>
          <label for="salary">Salary</label>
        </div>
        
        <div class="input-field col s6 input1">
            <i class="material-icons prefix">person</i>
            <input id="age" type="number"  [(ngModel)]="employee_age" name="age"  required>
            <label for="age">Age</label>
          </div>

          <div class="input-field col s6 input1">
            <i class="material-icons prefix">cloud</i>
            <input id="img" type="file"  [(ngModel)]="profile_image" name="profile_image" accept="image/x-png,image/gif,image/jpeg" >
            
          </div>  
        <br>
      <br><br>
      <button class="btn waves-effect waves-light btn1" type="submit" >Save Employee
        <i class="material-icons right">send</i>
      </button>
    </form>

<!--Edit Form-->
    <form class="col s12 form1" (submit) = "editEmp()" *ngIf="toggleForm" >
      
        <div class="input-field col s6 input1">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text"  [(ngModel)]="selectedEmp.employee_name" name="name1" required>
          
        </div>
        <div class="input-field col s6 input1">
          <i class="material-icons prefix">account_balance_wallet</i>
          <input id="salary" type="number"  [(ngModel)]="selectedEmp.employee_salary" name="salary1" required>
          
        </div>
        
        <div class="input-field col s6 input1">
            <i class="material-icons prefix">person</i>
            <input id="age" type="number" [(ngModel)]="selectedEmp.employee_age" name="age1" required>
            
          </div>

          <div class="input-field col s6 input1">
            <i class="material-icons prefix">cloud</i>
            <input id="img" type="file"  [(ngModel)]="selectedEmp.profile_image" name="profile_image"  accept="image/x-png,image/gif,image/jpeg">
            
          </div>
        <br>
      <br><br>
      <button class="btn waves-effect waves-light btn1" type="submit" >Save Employee
        <i class="material-icons right">send</i>
      </button>
    </form>


<br><br>


<div class="container">
    <table class="highlight table1">
        <thead >
          <tr>
            <th *ngFor="let columnHeader of columnHeaderList" scope="col">{{columnHeader}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let employee of empList">
            <td>{{employee.id}}</td>
            <td> {{employee.employee_name == null ? employee.name : employee.employee_name}}</td>
            <td>{{employee.employee_salary == null ? employee.salary :employee.employee_salary}}</td>
            <td>{{employee.employee_age == null ? employee.age :employee.employee_age}}</td>
            
            <td><button class="btn waves-effect waves-light"><i class="material-icons" (click)="showEditFrm(employee)"  >edit</i></button></td>
            <td><button class="btn waves-effect waves-light red"><i class="material-icons" (click)="deleteEmp(employee.id)" >delete_forever</i></button></td>
          </tr>
        </tbody>
      </table> 
 </div>     
      