.table1{
    border: 1px solid black;
}
.form1{
    width:50%;
    margin-left:25%;
    border: 1px solid black;
    margin-top: 5%;
    background-color: #f8f8f8;
    box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.input1{
    margin-left: 20%;
    margin-top: 5%;
    width:60%;
}
.btn1{
    margin-top:10px;
    margin-bottom:20px;    
    margin-left:60%;
}